<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ meta_description() }}" />
    <meta property="og:image" content="{{ meta('og:image') }}" />
    <title>{{ meta_title() }}</title>
<body>
<dl>
    <dt>Meta description</dt>
    <dd>{{ meta_description() }}</dd>
    <dt>Meta image</dt>
    <dd>{{ meta('og:image') }}</dd>
    <dt>Meta title</dt>
    <dd>{{ meta_title() }}</dd>
</dl>
</body>
</html>
