<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ meta_description() }}" />
{#    <meta property="og:title" content="{{ meta_title() }}" />#}
{#    <meta property="og:description" content="{{ meta_description() }}" />#}
{#    <meta property="og:url" content="" />#}
    <meta property="og:image" content="{{ meta('og:image') }}" />
{#    <meta property="og:type" content="website" />#}
{#    <link rel="canonical" href="" />#}
{#    <meta name="author" content="" />#}
    <title>{{ meta_title() }}</title>
<body>
<dl>
    <dt>Meta description</dt>
    <dd>{{ meta_description() }}</dd>
    <dt>Meta image</dt>
    <dd>{{ meta('og:image') }}</dd>
    <dt>Meta title</dt>
    <dd>{{ meta_title() }}</dd>
</dl>
</body>
</html>
